<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/dashboard.css">
    <!-- ./dashboard.css -->
    <link rel="stylesheet" href="./static/css/profile.css">
    <link rel="stylesheet" href="./static/css/cards.css">
    <link rel="stylesheet" href="./static/css/debitCard.css">
    <link rel="stylesheet" href="./static/css/transaction.css">
    <link rel="stylesheet" href="./static/css/transactionPage.css">
    <link rel="stylesheet" href="./static/css/changePassword.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <title>Pay4U</title>
</head>

<body>
    <div class="top-nav">
        <div class="left-nav">
            <h1>Pay4U</h1>
        </div>
        <div class="right-nav">
            <div class="username">
                <%= users.firstName.toUpperCase() %>
            </div>
            <div class="profile-photo">
                <% if(users.userImage.ContentType) { %>
                    <img src="data:image/<%= users.userImage.ContentType %>;base64,
                    <%= users.userImage.data.toString('base64') %> ">
                    <% } %>
            </div>

        </div>
    </div>
    <div class="main-window">
        <div class="side-nav">
            <div>
                <ul class="nav-list">
                    <li class="nav-items" onclick="sidenav(this)">
                        <div class="navItemDiv j"><ion-icon name="home-outline"></ion-icon>Dashboard</div>
                    </li>
                    <li class="nav-items" onclick="sidenav(this)">
                        <div class="navItemDiv a"><ion-icon name="send-outline"></ion-icon>Transfer</div>
                    </li>
                    <li class="nav-items" onclick="sidenav(this)">
                        <div class="navItemDiv i"><ion-icon name="card-outline"></ion-icon>Cards</div>
                    </li>
                    <li class="nav-items" onclick="sidenav(this)">
                        <div class="navItemDiv k"><ion-icon name="compass-outline"></ion-icon>Transaction History</div>
                    </li>
                    <li class="nav-items" onclick="sidenav(this)">
                        <div class="navItemDiv l"><ion-icon name="person-outline"></ion-icon>Profile</div>
                    </li>
                    <li class="nav-items" onclick="sidenav(this)">
                        <div class="navItemDiv m"><ion-icon name="key-outline"></ion-icon></ion-icon>Change Password</div>
                    </li>
                    <li class="nav-items">
                        <form method="post" action="/logout"><ion-icon name="log-out-outline"></ion-icon><input
                                type="submit" name="Logout" value="Logout"></form>
                    </li>
                </ul>
            </div>
        </div>
        <section id="dashboard">
            <h1 class="section-heading">Dashboard</h1>
            <div class="account-info-cards">
                <div class="account-card">
                    <div class="account-card-heading">
                        <p>Balance</p>
                    </div>
                    <div class="account-card-body">
                        <p class="amount">Rs
                        <p class="inner-amount">
                            <%=users.balance %>
                        </p>
                        </p>
                    </div>
                    <!-- <div class="account-card-footer"><p>Your Total Balance</p></div> -->
                </div>
                <div class="account-card">
                    <div class="account-card-heading">
                        <p>Debited This Month</p>
                    </div>
                    <div class="account-card-body debited-amount">
                        <p class="amount">Rs
                        <p class="inner-amount">
                            <% let debited = 0 %>
                            <% for(var i=0; !( i >= users.transaction.length); i++) {%>
                            <% if(!(new Date().getMonth()-users.transaction[i].transferDate.getMonth()>=1)) { %>
                                <% if(users.transaction[i].status==="debited") { %>
                                <% debited+= (+users.transaction[i].amount) %>
                                <% } %>
                            <% } %>
                            <% } %>
                            <%= debited %>
                        </p>
                        </p>
                    </div>
                </div>
                <div class="account-card">
                    <div class="account-card-heading">
                        <p>Credited This Month</p>
                    </div>
                    <div class="account-card-body credited-amount">
                        <p class="amount">Rs
                        <p class="inner-amount"><% let  credited = 0 %>
                            <% for(var i=0; !( i >= users.transaction.length); i++) {%>
                            <% if(!(new Date().getMonth()-users.transaction[i].transferDate.getMonth()>=1)) { %>
                                <% if(users.transaction[i].status==="credited") { %>
                                <% credited+= (+users.transaction[i].amount) %>
                                <% } %>
                            <% } %>
                            <% } %>
                            <%= credited %></p>
                        </p>
                    </div>
                    <!-- <div class="account-card-footer"><p class="amount"><p class="inner-amount">300</p> rs Since Last Month</p></div> -->
                </div>
            </div>
            <div class="accounts-graphs">
                <div class="graph-card">
                    <div class="graph-card-heading">
                        <p>Transaction Graph</p>
                    </div>
                    <div class="graph-card-body">
                        <p>Overview Of Daily Transaction</p>
                    </div>
                    <div class="graph">
                        <canvas id="myChart1" style="width:100%"></canvas>
                    </div>
                </div>
                <div class="graph-card">
                    <div class="graph-card-heading">
                        <p>Cash Flow Graph</p>
                    </div>
                    <div class="graph-card-body">
                        <p>Overview Of Total Cash Flow</p>
                    </div>
                    <div class="graph">
                        <canvas id="myChart2" style="width:100%"></canvas>
                    </div>
                </div>
            </div>
        </section>
        <section id="Profile">
            <h1 class="section-heading">Profile</h1>
            <div class="main-content">
                <div class="profile-index">
                    <div class="profile-mountain-photo">
                        <div class="profile-photo-background"></div>
                        <div class="profile-profile-photo">
                            <form method="post" action="/upload" enctype="multipart/form-data" class="profileform">
                                <label for="profileImage" class="profileImageLabel"
                                    onclick="submitFormOnChange(this)"></label>
                                <input type="file" id="profileImage" name="profileImage" accept=".jpeg, .png, .jpg">
                            </form>
                            <% if(users.userImage.ContentType) { %>
                                <img class="profilePic" src="data:image/<%= users.userImage.ContentType %>;base64,
                            <%= users.userImage.data.toString('base64') %> ">
                                <% } %>
                        </div>
                    </div>
                    <div class="profile-heading">
                        <p>
                            <%= users.firstName+" "+users.secondName%></p>
                    </div>
                    <div class=" gender">
                                <p>
                                    <%= users.gender%>
                                </p>
                    </div>
                    <div class="profile-subheading">
                        <p>The purpose of our lives is to be happy</p>
                    </div>
                </div>
                <div class="balance-account-detail-index">
                    <div class="balance-index">
                        <div class="balance">
                            <p>Balance</p>
                        </div>
                        <div class="balance-rupees">
                            <%= users.balance %> &#8377
                        </div>
                        <div class="total-balance">Your Total Balance</div>
                    </div>
                    <div class="account-detail-index">
                        <div class="all-account-detail">
                            <p>Account Detail</p>
                            <p></p>
                        </div>
                        <div class="account-no">
                            <p>Account No</p>
                            <p>
                                <%= users.accountNumber %>
                            </p>
                        </div>
                        <div class="account-type">
                            <p>Account Type</p>
                            <p>Saving</p>
                        </div>
                        <div class="adhar-number">
                            <p>Adhar Number</p>
                            <p>
                                <%= users.aadharNumber %>
                            </p>
                        </div>
                        <div class="pan-number">
                            <p>Pan Number</p>
                            <p>
                                <%= users.panNumber %>
                            </p>
                        </div>
                        <div class="account-status">
                            <p>Account status</p>
                            <p>Active</p>
                        </div>
                    </div>
                </div>
                <div class="details-user">
                    <div class="login-details">
                        <div class="login-details-index">
                            <p>Login Details</p>
                        </div>
                        <div class="username-index">
                            <p>username</p>
                            <div class="username-name">
                                <p>
                                    <%= users.firstName+" "+users.secondName%></p></div>
                        </div>
                        <div class=" password">
                                        <p>Password</p>
                                        <p>*********</p>
                            </div>
                        </div>
                        <div class="contact-details">
                            <div class="contact">
                                <p>Contact Details</p>
                            </div>
                            <div class="mobile-no">
                                <p>Mobile No</p>
                                <p>
                                    <%= users.phoneNumber%>
                                </p>
                            </div>
                            <div class="email">
                                <p>Email</p>
                                <p>
                                    <%= users.email%>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <section id="cards">
            <h1 class="card-heading">Cards</h1>
            <div class="card-information-section">
                <div class="debit-card-info">
                    <h2 class="debit-card-heading">Your Debit Card</h2>
                    <div class="container">
                        <div class="debit-card front-face">
                            <header>
                                <span class="logo">
                                    <!--<img src="images/logo.png" alt="" />-->
                                    <h5>Master Card</h5>
                                </span>
                                <!--<img src="images/chip.png" alt="" class="chip" />-->
                            </header>

                            <div class="card-details">
                                <div class="name-number">
                                    <h6>Card Number</h6>
                                    <h5 class="number">
                                        <% let number=users.debitCardNumber.toString().match(/.{1,4}/g) ?? [];%>
                                            <%= number[0]+" "+number[1]+" "+number[2]+" "+number[3] %></h5>
                              <h5 class=" name">
                                                <%= users.firstName+" "+users.secondName%></h5>
                            </div>
                
                            <div class=" valid-date">
                                                    <h6>Valid Thru</h6>
                                                    <h5>
                                                        <%= users.expiryDate.getDate()+ "/"
                                                            +('0'+(users.expiryDate.getMonth()+1)).substr(-2) %>
                                                    </h5>
                                </div>
                            </div>
                        </div>

                        <div class="debit-card back-face">
                            <h6>
                                For customer service call +91 9999999999 or email at
                                emailus@gmail.com
                            </h6>
                            <span class="magnetic-strip"></span>
                            <div class="signature"><i>
                                    <%= ('000'+users.CVV).substr(-3) %>
                                </i></div>
                            <h5>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia
                                maiores sed doloremque nesciunt neque beatae voluptatibus doloribus.
                                Libero et quis magni magnam nihil temporibus? Facere consectetur
                                dolore reiciendis et veniam.
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="debit-card-details">
                    <h2 class="debit-card-heading">Your Debit Card Details</h2>
                    <ul class="debit-details-list">
                        <li class="debit-detail-item">
                            <p>Account Number</p>
                            <p>
                                <%= users.accountNumber %>
                            </p>
                        </li>
                        <li class="debit-detail-item">
                            <p>Debit Card Number</p>
                            <p>
                                <%= users.debitCardNumber %>
                            </p>
                        </li>
                        <li class="debit-detail-item">
                            <p>Name</p>
                            <p>
                                <%= users.firstName+" "+users.secondName%></p>
                        </li>
                        <li class=" debit-detail-item">
                                    <p>CVV Number</p>
                                    <p>
                                        <%= ('000'+users.CVV).substr(-3) %>
                                    </p>
                        </li>
                        <li class="debit-detail-item">
                            <p>Issued Date</p>
                            <p>
                                <%= users.issueDate.getDate()+ "/"
                                    +('0'+(users.issueDate.getMonth()+1)).substr(-2)+"/"+users.issueDate.getFullYear()
                                    %>
                            </p>
                        </li>
                        <li class="debit-detail-item">
                            <p>Expiry Date</p>
                            <p>
                                <%= users.expiryDate.getDate()+ "/"
                                    +('0'+(users.expiryDate.getMonth()+1)).substr(-2)+"/"+users.expiryDate.getFullYear()
                                    %>
                            </p>
                        </li>
                        <li class="debit-detail-item">
                            <p>Card Status</p>
                            <p>Active</p>
                        </li>
                        <li class="debit-detail-item">
                            <p>Verification Status</p>
                            <p>Yes</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section id="transaction-history">
            <h1 class="transaction-heading">Transaction History</h1>
            <div class="transaction-history-outerBox">
                <h3>Overview of All Transaction</h3>
                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th class="table-heading">Sr.No</th>
                                <th class="table-heading">Name</th>
                                <th class="table-heading">Account No</th>
                                <th class="table-heading">Date</th>
                                <th class="table-heading">Amount</th>
                                <th class="table-heading">Status</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% for(var i=users.transaction.length-1,j=1;  i >= 0; i--,j++) {%>
                                <% if(users.transaction[i].status==="debited"){ %>
                                <tr>
                                    <td class="user-data" style="color:red"><%= j %></td>
                                    <td class="user-data" style="color:red"><%= users.transaction[i].name %></td>
                                    <td class="user-data" style="color:red"><%= users.transaction[i].account %></td>
                                    <td class="user-data" style="color:red"> <%= users.transaction[i].transferDate.getDate()+ "/"
                                        +('0'+(users.transaction[i].transferDate.getMonth()+1)).substr(-2)+"/"+users.transaction[i].transferDate.getFullYear()
                                        %></td>
                                    <td class="user-data" style="color:red"><%= -1*(users.transaction[i].amount) %></td>
                                    <td class="user-data" style="color:red"><%= users.transaction[i].status %></td>
                                </tr>
                                <% } else {%>
                                    <tr>
                                        <td class="user-data" style="color:green"><%= j %></td>
                                        <td class="user-data" style="color:green"><%= users.transaction[i].name %></td>
                                        <td class="user-data" style="color:green"><%= users.transaction[i].account %></td>
                                        <td class="user-data" style="color:green"> <%= users.transaction[i].transferDate.getDate()+ "/"
                                            +('0'+(users.transaction[i].transferDate.getMonth()+1)).substr(-2)+"/"+users.transaction[i].transferDate.getFullYear()
                                            %></td>
                                        <td class="user-data" style="color:green"><%= (users.transaction[i].amount) %></td>
                                        <td class="user-data" style="color:green"><%= users.transaction[i].status %></td>
                                    </tr>
                                <% } %>
                            <% } %>
                          </tbody>
                    </table>

                </div>
            </div>
        </section>
        <section id="transfer">
                <h1 class="section-heading">Transfer Money</h1>
            <div class="mainDiv">
                <div class="transfer-box">
                    <form  class="transactionForm" method="post" action="/moneyTransfer">
                        <h1>Transfer Money</h1>
                        <% if(error){ %>
                            <div class="message">
                                <%= error %>
                            </div><br>
                        <% } %>
                    <div class="transfer-form-input">
                        
                        <span><img src="./static/images/bank.png"></span>
                        <input type="text" class="accountNumber" name="accountNumber"
                            placeholder="Enter Account Number">
                    </div>
                    <div class="transfer-form-input">
                        <span><img src="./static/images/fiat-money.png"></span>
                        <input type="text" class="tranferAmount" name="transferAmount" placeholder="Enter Amount">
                    </div>
                    <input class="transferButton" type="submit">
                </form>
            </div>

    </section>
    <section id="password-change">
        <h1 class="section-heading">Change Password</h1>
        <div class="main-content">
            <div class="main-content-box">
                <form class="change-password-index" method="post" action="/changePass">
                    <p class="heading-change">Change password</p>
                    <% if(change){ %>
                        <span class="message">
                            <%= change %>
                        </span>
                    <% } %>
                    <div class="change-box">
                        <input type="password" class="changePassword" name="oldPassword"
                            placeholder="Enter Current Password">
                        <input type="password" class="changePassword" name="newPassword"
                            placeholder="Enter New password">
                        <input type="password" class="changePassword" name="confirmPassword"
                            placeholder="Confirm New Password">
                        <button class="change-button" type="submit">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="./static/js/dash.js" ></script>
    <script src="./static/js/chart.js"></script>
   
    
    <!-- icons link -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>